[Unit]
Description=GMX staking txns service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=berrytom08
Group=www-data
WorkingDirectory=/home/berrytom08/gems_app
Environment="PATH=/home/berrytom08/gems_app/venv/bin"
ExecStart=/home/berrytom08/gems_app/venv/bin/python /home/berrytom08/gems_app/apis/gmx_staking_recent.py

[Install]
WantedBy=multi-user.target
