/*.js-plotly-plot .plotly .modebar {
  padding-top: 0%;
  margin-right: 0%;
}
*/

/*background-color: #f2f2f2; */

*{
 margin: 0;
 padding: 0;
}

body {
  background-color: #121212;
  margin-left: 4%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #363636;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: #121212;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.rc-slider-track{
  background-color: #808080;
}

.rc-slider-handle{
  border: 2px solid #808080;
}

.rc-slider-handle:hover{
  border: 2px solid #808080;
}

.rc-slider-dot-active{
  border: 2px solid #808080;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

/*#header {
  align-items: center;
}*/

#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}
#title {
  text-align: center;
}

.mini_container {
  border-radius: 5px;
  background-color: #363636;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#wells {
  flex: 1;
}

#gas {
  flex: 1;
}

#aggregate_data {
  align-items: center;
}

#oil {
  flex: 1;
}

#water {
  flex: 1;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#header {
  display: flex;
  flex-direction: column;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
  pointer-events: all;
  transform: translate(30px, 349px);
}


/*#gem_filter .dash-dropdown {
  background-color: #30D5C8;
  color: #ffffff;
  border: #121212;
}
*/

.dash-dropdown {
  background-color: #272727;
  color: #30d5c8;
  border: 0px solid #121212;
  font-family: Supermolot;
}

#inspect_dropdown .Select-menu-outer,
#gem_filter .Select-menu-outer,
#market_filter .Select-menu-outer,
#sector_filter .Select-menu-outer,
#tier_filter .Select-menu-outer,
#rewards_filter .Select-menu-outer,
#gem_filter2 .Select-menu-outer,
#market_filter2 .Select-menu-outer,
#sector_filter2 .Select-menu-outer,
#tier_filter2 .Select-menu-outer,
#rewards_filter2 .Select-menu-outer,
#stake_currency .Select-menu-outer,
#stake_interval .Select-menu-outer,
#candle_filter .Select-menu-outer,
#period_filter .Select-menu-outer,
#currency_filter .Select-menu-outer {
  background-color: #272727;
  border: 1px solid #30d5c8;
}



#inspect_dropdown .Select-control,
#gem_filter .Select-control,
#market_filter .Select-control,
#sector_filter .Select-control,
#tier_filter .Select-control,
#rewards_filter .Select-control,
#gem_filter2 .Select-control,
#market_filter2 .Select-control,
#sector_filter2 .Select-control,
#tier_filter2 .Select-control,
#rewards_filter2 .Select-control,
#stake_currency .Select-control,
#stake_interval .Select-control,
#candle_filter .Select-control,
#period_filter .Select-control,
#currency_filter .Select-control {
  background-color: #272727;
  color: #ffffff;
  font-size: 13;
  border: 1px solid #30d5c8;
}


#inspect_dropdown .Select-placeholder,
#gem_filter .Select-placeholder,
#market_filter .Select-placeholder,
#sector_filter .Select-placeholder,
#tier_filter .Select-placeholder,
#rewards_filter .Select-placeholder,
#gem_filter2 .Select-placeholder,
#market_filter2 .Select-placeholder,
#sector_filter2 .Select-placeholder,
#tier_filter2 .Select-placeholder,
#rewards_filter2 .Select-placeholder,
#stake_currency .Select-placeholder,
#stake_interval .Select-placeholder,
#candle_filter .Select-placeholder,
#period_filter .Select-placeholder,
#currency_filter .Select-placeholder {
  background-color: #272727;
  color: #30d5c8;
  font-size: 13;
  border: 1px solid #30d5c8;
  font-family: Supermolot;
}

#gem_filter .Select--multi .Select-value,
#market_filter .Select--multi .Select-value,
#sector_filter .Select--multi .Select-value,
#tier_filter .Select--multi .Select-value,
#rewards_filter .Select--multi .Select-value,
#gem_filter2 .Select--multi .Select-value,
#market_filter2 .Select--multi .Select-value,
#sector_filter2 .Select--multi .Select-value,
#tier_filter2 .Select--multi .Select-value,
#rewards_filter2 .Select--multi .Select-value {
  color: #30d5c8;
  font-size: 13;
  border: 1px solid #30d5c8;
  font-family: Supermolot;
}



#inspect_dropdown .Select--single>.Select-control .Select-value, .Select-placeholder,
#stake_currency .Select--single>.Select-control .Select-value, .Select-placeholder,
#stake_interval .Select--single>.Select-control .Select-value, .Select-placeholder,
#candle_filter .Select--single>.Select-control .Select-value, .Select-placeholder,
#period_filter .Select--single>.Select-control .Select-value, .Select-placeholder,
#currency_filter .Select--single>.Select-control .Select-value, .Select-placeholder {
  color: #30d5c8;
  font-size: 13;
  border: 1px solid #30d5c8;
  font-family: Supermolot;
}

#inspect_dropdown .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
#stake_currency .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
#stake_interval .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
#candle_filter .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
#period_filter .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
#currency_filter .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: #30d5c8;
}

.is-open>.Select-control {
  background-color: #272727;
}

.is-focused:not(.is-open)>.Select-control {
  border-color: 1px solid #30d5c8;
}

.VirtualizedSelectOption {
  background-color: #272727;
  color: #30d5c8;
}

.dropdown-header {
  background-color: #272727;
  color: #30d5c8;
  border-top: 0px solid #272727;
}

.dropdown-menu {
  background-color: #272727;
  color: #30d5c8;
  border-top: 0px solid #272727;
  border: 1px solid #30d5c8;
}

.dropdown-divider {
  background-color: #272727;
  color: #30d5c8;
  border-top: 1px solid #363636;
}

.dropdown-item {
  background-color: #272727;
  color: #fff;
}

.dropdown-item:hover {
  background-color: #30d5c8;
  color: #121212;
}

.VirtualizedSelectFocusedOption {
  background-color: #30d5c8;
  color: #000000;
}

/*
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
  --hover: #30d5c8
}
*/

input {
  background-color: #272727;
  color: #30d5c8;
  border: 0px solid #121212;
  font-family: Supermolot;
}

.DateRangePickerInput__withBorder {
    border-radius: 2px;
    border: 1px solid #30d5c8;
}

.DateRangePickerInput {
    border-radius: 2px;
    background-color: #272727;
    display: inline-block;
}

.DateInput_input {
    border-radius: 2px;
    border: 1px solid #30d5c8;
    background: #272727;
    color: #30d5c8;
}

.DateRangePickerInput_arrow_svg {
    vertical-align: middle;
    fill: #30d5c8;
    height: 24px;
    width: 24px;
}

.DayPicker {
    background: #272727;
    position: relative;
    text-align: left;
    color: #30d5c8;
}

.CalendarMonth {
    background: #272727;
    position: relative;
    text-align: left;
    color: #30d5c8;
}

.DayPickerNavigation_button__default {
    border: 1px solid #30d5c8;
    background-color: #272727;
    color: #30d5c8;
}

.DayPickerNavigation_svg__horizontal {
    height: 19px;
    width: 19px;
    fill: #30d5c8;
    display: block;
}

.CalendarMonth_caption {
    color: #fff;
}

.CalendarDay__default {
    border: 1px solid #30d5c8;
    color: #fff;
    background: #272727;
}

.DateRangePicker_picker {
  background-color: #272727;
}

.DateInput_fangShape {
  fill: #272727;
}

.DateInput_input, .DateInput_input_1 {
  Height: 35px;
}

.DateInput_input, .DateInput_input_1 {
  font-size: 12;  /*or whatever size you would like to have*/
}

.DateInput, .DateInput_1 {
  width: calc(100%-40px);
}


@font-face {
  font-family: 'Sparks-Dotline-Extrathick';
  src: url(Sparks-Dotline-Extrathick.ttf);
  font-weight: normal;
  font-style: normal;
}        
	
.sparks {
  font-variant-ligatures: normal;
}        
.dotline-extrathick {
  font-family: Sparks-Dotline-Extrathick;
  font-size: 26px;
}


@font-face {
  font-family: 'Sparks-Dotline-Extrathick';
  src: url('https://tools.aftertheflood.com/sparks/output/eot/Sparks-Dotline-Extrathick.eot');
  src: url('https://tools.aftertheflood.com/sparks/output/eot/Sparks-Dotline-Extrathick.eot?#iefix') format('embedded-opentype'),
       url('https://tools.aftertheflood.com/sparks/output/woff2/Sparks-Dotline-Extrathick.woff2') format('woff2'),
       url('https://tools.aftertheflood.com/sparks/output/woff/Sparks-Dotline-Extrathick.woff') format('woff'),
       url('https://tools.aftertheflood.com/sparks/output/ttf/Sparks-Dotline-Extrathick.ttf') format('truetype'),
       url('https://tools.aftertheflood.com/sparks/output/svg/Sparks-Dotline-Extrathick.svg#Sparks-Dotline-Extrathick') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sparks {
  font-variant-ligatures: normal;
}
.bar-narrow {
  font-family: Sparks-Bar-Medium;
}
.bar-medium {
  font-family: Sparks-Bar-Medium;
}
.bar-wide {
  font-family: Sparks-Bar-Wide;
}
.bar-extrawide {
  font-family: Sparks-Bar-Wide;
  font-size:18px
}
.dot-extrasmall {
  font-family: Sparks-Dot-Extrasmall;
}
.dot-small {
  font-family: Sparks-Dot-Small;
}
.dot-medium {
  font-family: Sparks-Dot-Medium;
}
.dot-large {
  font-family: Sparks-Dot-Large;
}
.dot-extralarge {
  font-family: Sparks-Dot-Extralarge;
}
.dotline-extrathin {
  font-family: Sparks-Dotline-Extrathin;
}
.dotline-thin {
  font-family: Sparks-Dotline-Thin;
}
.dotline-medium {
  font-family: Sparks-Dotline-Medium;
}
.dotline-thick {
  font-family: Sparks-Dotline-Thick;
}
.dotline-extrathick {
  font-family: Sparks-Dotline-Extrathick;
}
